.aboutMe {
  padding: 5px;
  background-color: whitesmoke;
  border-top: 1px solid black;
}

.header {
  justify-content: center;
}

.aboutBody {
  padding: 10px;
  background-color: rgb(199, 199, 199);
}

.aboutTxt {
  text-indent: 50px;
}
