.logo {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  background-color: white;
  padding: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.menu {
  width: 100%;
  background-color: rgb(145, 145, 145);
  padding: 5px;
}

.menu a {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-size: 14px;
  letter-spacing: 1.2px;
  padding: 5px;
}

.menu a:hover {
  color: black;
}
