.navbar ul {
  margin: 0;
  padding: 10px 0;
  background-color: white;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
}

.navbar ul li a {
  text-decoration: none;
  display: block;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 400;
  color: black;
  padding: 0 10px;
}

.navbar ul li a:hover {
  color: gray;
}
